{% extends "mycase_basic.html" %}
{% load static %}
{% load extras %}
{% block content %}

    <style>
    p { line-height: 1.5; font-size: 18px;}

    </style>
<link href="{% static "css/datatables.min.css" %}" media="all" rel="stylesheet" />
<div class="container-fluid pt-1" style="width: 80%;min-width: 1200px;">
     <div class="row flex-nowrap justify-content-center">
         <div class="col-md-2 text-left" style="margin-left: 10px; max-width: 220px;">
             <!-- Scrollspy -->
            <div class="sticky-top mt-5 pt-5">
               <ul class="nav flex-column nav-pills menu-sidebar">
                  <li class="nav-item border-bottom"><a class="nav-link" href="#"><h5>About</h5></a></li>
                  <li class="nav-item border-bottom"><a class="nav-link" href="#intro"><h6>&bull;&nbsp;Introduction</h6></a></li>
                  <li class="nav-item border-bottom"><a class="nav-link" href="#disclaimer"><h6>&bull;&nbsp;Disclaimers</h6></a></li>
                  <li class="nav-item border-bottom"><a class="nav-link" href="#statistics"><h6>&bull;&nbsp;Statistics</h6></a></li>
                  <li class="nav-item border-bottom"><a class="nav-link" href="#FAQ"><h6>&bull;&nbsp;FAQ</h6></a></li>
                  <li class="nav-item border-bottom mt-3"><a class="nav-link" href="#"><h6>&#x21EA;&nbsp;Go to top</h6></a></li>
               </ul>
            </div>
            <!-- Scrollspy -->
         </div>
         <div class="col-md-6" style="min-width: 1000px;">
             <!--Main content-->
             <div class="row">
                 <div class="col-12">
                     <h2 class="mb-1" style="color:#2d48cb;">About</h2>
                     <hr style="height: 1px;color: #666666">
                 </div>
             </div>
             <div class="row d-flex" id="intro">
                 <div class="col-md-12">
                      <h3>1. Introduction</h3>
                      <p>
                          <a href="{% url 'mycase:home' %}"><strong>CaseLand</strong></a> is a non-profit project providing reference statistics of US visa processing for <b>TOTALLY FREE</b>.<br>
                          CaseLand makes data-driven analysis to result in a reliable prediction of your visa application journey.<br>
                          We dedicated to track and predict case status as good as possible, based on case processing data from USCIS and user inputs, <strong>but the results are not guaranteed</strong>
                      </p>
                      <p>
                          We would like to build an information sharing community for everyone, especially for all the visa applicants. Everyone can access the website, query data, and share information here. This will be a FREE land for all the users.<br>
                      </p>
                      <p>
                          Meanwhile, all the supports for running this project will be coming from you, If you like, you may contribute your generosity to make this project better and better!<br>
                          Here is the PayPal link for you to donate &nbsp;&nbsp;<i class="fa-solid fa-heart" style="color:red"></i>

                      </p>
                        <form action="https://www.paypal.com/donate" method="post" target="_top">
                            <input type="hidden" name="business" value="7HHDTSTJK4QKS" />
                            <input type="hidden" name="no_recurring" value="0" />
                            <input type="hidden" name="currency_code" value="USD" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                        </form>

                 </div>
             </div>
             <br>
             <div class="row d-flex" id="disclaimer">
                 <div class="col-md-12">
                      <h3>2. Disclaimers for CaseLand</h3>
                     <p>
                         The information provided on this website is for informational purposes only and is not intended as legal, financial, or professional advice.
                         We make no representations or warranties about the accuracy, completeness, or reliability of the information provided on this site.
                         Your use of this site is at your own risk. We are not responsible for any errors or omissions in the content of this site, or for any actions taken by users based on the information provided on this site.
                     </p>
                      <p>
                          The information provided on this website is provided "as is" without warranty of any kind, either express or implied,
                          including but not limited to the implied warranties of merchantability, fitness for a particular purpose, or non-infringement.
                          We make no representations or warranties about the accuracy, completeness, or reliability of the information provided on this site.
                          We will not be liable for any errors or omissions in the content of this site, or for any actions taken by users based on the information provided on this site.
                          We will not be liable for any damages of any kind arising from the use of this site, including but not limited to direct, indirect, incidental, punitive, and consequential damages.
                      </p>
                      <p>
                          This website may include links to external websites. These external sites are not under our control, and we are not responsible for the content of these sites.
                          The inclusion of any external links on this site does not imply endorsement by us of the external site or the content contained therein.
                      </p>
                      <h4>Consent</h4>
                      <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
                      <h4>Update</h4>
                      <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
                 </div>
             </div>
             <br>
             <div class="row d-flex" id="statistics">
                 <div class="col-md-12">
                      <h3 id="whatis">3. Data statistics</h3>
                     <p></p>
                 </div>
             </div>
             <br>
             <div class="row d-flex" id="FAQ">
                 <div class="col-md-12">
                      <h3 id="whatis">4. FAQ</h3>
                     <p></p>
                 </div>
             </div>
             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->
</div>

 {% endblock %}