{% extends "mycase_basic.html" %}
{% load static %}
{% block content %}

<div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
     <div class="row justify-content-center">
         <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
            <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
         </div>
         <div class="col-md-6" style="min-width: min-content;">
             <form action="/mycase" method="get">
                <div class="input-group" style="max-width: 960px;">
                  <div class="form-outline flex-fill">
                    <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                    <label class="form-label" for="form1">Enter you receipt number</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                  </button>
                </div>
              </form>
            <br>
             <!--Main content-->
            <div class="row">
                 <div class="col-12">
                     <h2 class="mb-4" style="color:#2d48cb;">Case status daily </h2>
                     <div class="btn-group-sm mb-3">
                         <h5 class="d-inline">Form type: </h5>
                          <select id="selectform" onchange="load_page()">
                             {% for form_i in form_ls %}
                             <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                             {% endfor %}
                          </select>

                     </div>
                     <div class="mb-3">
                         <h5 class="d-inline">Centers: </h5>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "LIN_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "LIN_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "MSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "MSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "SRC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "SRC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "EAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "EAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "WAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "WAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "YSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "YSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_SC</button>

                     </div>
                     <div class="chart" id="line_char_div">
                         <canvas id="line_chart" style="max-height: 500px;"></canvas>
                     </div>
                 </div>
             </div>

            <div class="row">
                 <div class="col-12">
                     <h2 class="mb-4" style="color:#2d48cb;">Case status calendar </h2>
                     <div class="btn-group-sm mb-3">
                         <h5 class="d-inline">Status: </h5>
                          <select id="statuses">
                             {% for form_i in form_ls %}
                             <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                             {% endfor %}
                          </select>

                     </div>
                     <div class="chart" id="calendar_div">

                     </div>
                 </div>
             </div>

             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->
</div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{% static "mycase/js/hammer.min.js" %}"></script>
    <script src="{% static "mycase/js/chartjs-plugin-zoom.min.js" %}"></script>
    <script src="{% static "mycase/js/chartjs-plugin-crosshair.min.js" %}"></script>
    <script src="{% static "mycase/js/script.js" %}" charset="utf-8"></script>
    <script type="text/javascript">

    $(".cnt_btn").click(function () {
        $(".cnt_btn").removeClass("btn-primary");
        $(".cnt_btn").addClass("btn-outline-primary");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");

        load_page();
    });

    function load_page(){
        var center = "LIN_LB";
        $('.cnt_btn').each(function(){
            if($(this).hasClass("btn-primary")){
                center = $(this).text();
                return false;
            }
        });

        var selectform = $("#selectform").val();
        location.href = '{% url "mycase:dashbord" %}?center='+center+'&selectform='+selectform;
    }
    function load_data() {
        var data ={{ chart_data|safe }};
        linechart(data["count_ls"],data["label_ls"]);
    }
    load_data();



    </script>

 {% endblock %}