{% extends "mycase_basic.html" %}
{% load static %}
{% block content %}

    <link href="{% static "mycase/css/calendarHM.css" %}" media="all" rel="stylesheet" />
    <link href="{% static "css/datatables.min.css" %}" media="all" rel="stylesheet" />
<div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
     <div class="row justify-content-center">
         <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
            <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
         </div>
         <div class="col-md-6" style="min-width: min-content;">
             <form action="/mycase" method="get">
                <div class="input-group" style="max-width: 960px;">
                  <div class="form-outline flex-fill">
                    <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                    <label class="form-label" for="form1">Enter you receipt number</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                  </button>
                </div>
              </form>
            <br>
             <!--Main content-->
            <div class="row">
                 <div class="col-12">
                     <h3 class="mb-4" style="color:#2d48cb;">Case status daily counts </h3>
                     <div class="btn-group-sm mb-3">
                         <h5 class="d-inline">Form type: </h5>
                          <select id="selectform" onchange="load_page()">
                             {% for form_i in form_ls %}
                             <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                             {% endfor %}
                          </select>

                     </div>
                     <div class="mb-3">
                         <h5 class="d-inline">Centers: </h5>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "LIN_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "LIN_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "MSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "MSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "SRC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "SRC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "EAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "EAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "WAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "WAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "YSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "YSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_SC</button>

                     </div>
                 <hr style="height: 1px;color: #666666">
                     <div class="chart" id="line_char_div">
                         {#<canvas id="line_chart" style="max-height: 500px; max-width: 1200px;"></canvas>#}
                         <div id="line_chart" style="height: 360px; width: 1200px;"></div>
                         <div id="river_chart" style="height: 360px; width: 1200px;"></div>
                     </div>
                 </div>
             </div>
            <hr style="height: 1px;color: #666666">
            <div class="row">
                 <div class="col-12">
                     <h3 class="mb-4" style="color:#2d48cb;">Case status calendar </h3>
                     <div class="btn-group-sm mb-3">
                         <h5 class="d-inline">Status: </h5>
                          <select id="status_select" onchange="plot_calendarHM()">
                             <option value="0">New received</option>
                             <option value="1">FP_Taken</option>
                             <option value="2">Interviewed</option>
                             <option value="3">RFE</option>
                             <option value="4">Transferred</option>
                             <option value="5" selected>Approved</option>
                              <option value="6">Rejected</option>
                             <option value="7">Other</option>
                             <option value="8">Pending</option>
                          </select>
                          <div class="d-inline ms-3" id="show_status_counts"></div>
                     </div>

                     <div class="chart" id="calendar_div">
                         <div id="status_calendar"></div>
                     </div>
                 </div>
             </div>

            <hr style="height: 1px;color: #666666">
            <div class="row">
                 <div class="col-12">
                     <h3 class="mb-4" style="color:#2d48cb;">Case status transitions </h3>
                     <div class="btn-group-sm mb-3">
                         <h5 class="d-inline">Show status level: </h5>
                          <select id="status_level" onchange="do_sankey()">
                             <option value="L3" selected>L3</option>
                             <option value="L2">L2</option>
                             <option value="L1">L1</option>
                             <option value="L0">Original</option>
                          </select>
                         <p class="d-inline">(This shows the number of case status transitions in last 7 days, not the continuous changes of the cases)</p>
                     </div>
                     <div class="chart" id="sankey_div">
                         <div id="status_sankey_div" style="height: 400px; width: 1200px;"></div>
                         <hr style="height: 1px;color: #666666">
                         <table class="table table-sm table-responsive table-hover cell-border" id="sankey_table">
                             <thead class="table-info"><th>Action date</th><th>Source status</th><th>Destination status</th><th>Case counts</th></thead>
                             <tbody id="sankey_table_tbody">

                             </tbody>
                          </table>
                     </div>
                 </div>
             </div>

             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->
</div>
    <script type="text/javascript" src="{% static "mycase/js/calendarHM.js" %}"></script>
{#    <script type="text/javascript" src="{% static "js/googleloader.js" %}"></script>#}
{#    <script src="{% static "mycase/js/hammer.min.js" %}"></script>#}
{#    <script src="{% static "mycase/js/chartjs-plugin-zoom.min.js" %}"></script>#}
{#    <script src="{% static "mycase/js/chartjs-plugin-crosshair.min.js" %}"></script>#}
    <script src="{% static "mycase/js/script.js" %}" charset="utf-8"></script>
    <script src="{% static "js/datatables.min.js" %}" charset="utf-8"></script>
    <script type="text/javascript">
    var color_ls= ["#1072f1","#11a9fa","#2b04da","#f4b824","#c77cff","#1db063", "#ff001a","#78787a","#a6f110"];

    var date_count ={{ chart_data|safe }};

    $(".cnt_btn").click(function () {
        $(".cnt_btn").removeClass("btn-primary");
        $(".cnt_btn").addClass("btn-outline-primary");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");

        load_page();
    });

    function load_page(){
        var center = "LIN_LB";
        $('.cnt_btn').each(function(){
            if($(this).hasClass("btn-primary")){
                center = $(this).text();
                return false;
            }
        });

        var selectform = $("#selectform").val();
        location.href = '{% url "mycase:dashborddaily" %}?center='+center+'&selectform='+selectform;
    }

    {#linechart(date_count["count_ls"],date_count["label_ls"]);#}
    dailylinechart(date_count["count_ls"],date_count["label_ls"]);


    //////////////////////
    function plot_calendarHM(){
        var status_x = parseInt($("#status_select").val());
        var text_ls = [["new case","new cases"],["FP_Taken","FP_Takens"],["Interview","Interviews"],["RFE","RFEs"],
            ["case transferred","cases transferred"],["case approved","cases approved"],["case rejected","cases rejected"],
            ["other case","other cases"],["pending case","pending cases"]]

        var date_ls = date_count["label_ls"];
        var count_ls = date_count["count_ls"];

        var counts = count_ls[status_x];
        var color = color_ls[status_x];
        var text= text_ls[status_x];

        var data = {};
        $.each( date_ls, function(i,v) { data[v] = counts[i]; });

        $("#show_status_counts").html()

        $('#status_calendar').calendarHM( {
            //Generate random entries from 50-> 200 entries
            data: data,
            texts: text,
            //override colours
            colors:['rgba(213,209,209,0.3)',color],
            click: function(date, count) {
                $("#show_status_counts").html(count+ " cases on date " + date)
          }
        });
    }
    plot_calendarHM();

//////////////////////////////////////////
    function do_sankey() {
        var statuslevel = $("#status_level").val();
        var selectform = $("#selectform").val();
        var center = "LIN_LB";
        $('.cnt_btn').each(function () {
            if ($(this).hasClass("btn-primary")) {
                center = $(this).text();
                return false;
            }
        });

        $.ajax({
            type: "GET",
            url: "/ajax/getsankey",
            async: true,
            data: {"center": center, "selectform": selectform, "statuslevel": statuslevel},
            success: function (data) {
                {#var sankey_data = data["sankey"];#}
                {#var data_ls = [];#}
                {#for(let date_i in sankey_data)#}
                {#    for(let source_i in sankey_data[date_i])#}
                {#        for(let dest_i in sankey_data[date_i][source_i])#}
                {#            data_ls.push([source_i,dest_i,sankey_data[date_i][source_i][dest_i]])#}
                {#plot_sankey(data_ls);#}
                status_sankey(data);
                table_sankey(data.links);
            },
            error: function () {
                alert("Error occurs!")
            }
        });
    }
    do_sankey();

    function table_sankey(sankey_data) {
         var html_str = "";
         {#for(let date_i in sankey_data)#}
         {#   for(let source_i in sankey_data[date_i])#}
         {#       for(let dest_i in sankey_data[date_i][source_i]) {#}
         {#           if(dest_i.includes("Approved")){#}
         {#               html_str += "<tr style='background-color: #1db063;'><td>" + date_i + "</td><td>" + source_i + "</td><td>" + dest_i + "</td><td>" + sankey_data[date_i][source_i][dest_i] + "</td></tr>"#}
         {#           }else{#}
         {#               html_str += "<tr><td>" + date_i + "</td><td>" + source_i + "</td><td>" + dest_i + "</td><td>" + sankey_data[date_i][source_i][dest_i] + "</td></tr>"#}
         {#           }#}
         {#       }#}

        for (let link_i of sankey_data) {
            if(link_i["target"].includes("Approved")){
                html_str += "<tr style='background-color: #1db063;'><td>" + link_i.action_date + "</td><td>" + link_i.source + "</td><td>" + link_i.target + "</td><td>" + link_i.value + "</td></tr>"
            }else{
                html_str += "<tr><td>" + link_i.action_date + "</td><td>" + link_i.source + "</td><td>" + link_i.target + "</td><td>" + link_i.value + "</td></tr>"
            }
        }

        if ( $.fn.DataTable.isDataTable('#sankey_table') ) {
          $('#sankey_table').DataTable().destroy();
        }

        $("#sankey_table_tbody").empty();
        $("#sankey_table_tbody").html(html_str);

        $('#sankey_table').DataTable({
            order: [[0, 'desc']],
        });

    }
    /////////////////////////////////////


    </script>

 {% endblock %}