{% extends "mycase_basic.html" %}
{% load static %}
{% block content %}

     <style>
      .timeline-with-icons {
        border-left: 1px solid hsl(0, 0%, 90%);
        position: relative;
        list-style: none;
      }

      .timeline-with-icons .timeline-item {
        position: relative;
      }

      .timeline-with-icons .timeline-item:after {
        position: absolute;
        display: block;
        top: 0;
      }

      .timeline-with-icons .timeline-icon {
        position: absolute;
        left: -43px;
        border-radius: 50%;
        height: 21px;
        width: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .timeline-icon-blue {
        background-color: hsl(217, 88.2%, 90%);
        color: hsl(217, 88.8%, 35.1%);
      }

      .timeline-icon-yellow {
        background-color: hsl(63, 92%, 67%);
        color: hsl(62, 98%, 36%);
      }

      .timeline-icon-red {
        background-color: hsla(0, 92%, 85%, 0.45);
        color: hsl(1, 96%, 44%);
      }

      .timeline-icon-green {
        background-color: hsl(97, 88%, 90%);
        color: hsl(110, 92%, 33%);
      }

    </style>

    <div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
         <div class="row justify-content-center">
             <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
                <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
             </div>
             <div class="col-md-6" style="min-width: min-content;">
                 <form action="/mycase" method="get">
                    <div class="input-group" style="max-width: 960px;">
                      <div class="form-outline flex-fill">
                        <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                        <label class="form-label" for="form1">Enter your receipt number</label>
                      </div>
                      <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                        <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                      </button>
                    </div>
                  </form>
                <br>
                 <!-- Case status -->
                 <div class="row" style="max-width: 1000px;">
                     <div class="col-12">
{#                             <h3 style="color:green;">Case Was Approved</h3>#}
                         <h4 style="color:#2d48cb;">{{ status.status}}</h4>
                        <input type="hidden" name="temp_form" id="temp_form" value="{{ status.form }}">
                         {% if status.form != "" %}
                            <span>Form: {{ status.form}}</span>
                         {% else %}
                             <span>Form:
                                 <select id="selectform" onchange="select_form()">
                                     <option value="" selected></option>
                                     {% for form_i in form_ls %}
                                     <option value="{{ form_i }}">{{ form_i }}</option>
                                     {% endfor %}

                                 </select>
                             </span>
                         {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                         <span>Last action on: {{ status.date}} ({{ status.days }} days ago)</span>
                         <hr style="height: 1px;color: #666666">
                         <p>
                            {{ status.status_text|safe }}
                         </p>
                     </div>
                 </div>
                 <!-- End of Case status -->
                 <hr style="height: 0.2px;color: #ccc;max-width: 1000px;">
                 <!-- Case history & Case range pie-->
                  <div class="row row-cols-2" style="max-width: 1000px;">
                     <div class="col-md-6">
                         <h5 class="mb-3"><i class="fa-solid fa-list-check text-primary"></i>&nbsp;&nbsp;<strong>Case history</strong></h5>
                         <!-- Section: Timeline -->
                         <section style="padding-left: 30px;">
                           <ul class="timeline-with-icons">

                                {% for qs_i in status_qs %}
                                    <li class="timeline-item mb-md-4" style="border-bottom: 1px solid #eeeeee;">
                                            {% if qs_i.case_stage == "Processing" %}
                                                <span class="timeline-icon timeline-icon-blue"><i class="fa-solid fa-check fa-sm fa-fw"></i></span>
                                            {% elif qs_i.case_stage == "RFE" %}
                                                <span class="timeline-icon timeline-icon-yellow"><i class="fa-solid fa-arrow-rotate-left fa-fw fa-sm"></i></span>
                                            {% elif qs_i.case_stage == "Rejected" %}
                                                <span class="timeline-icon timeline-icon-red"><i class="fa-solid fa-xmark fa-sm fa-fw"></i></span>
                                            {% elif qs_i.case_stage == "Approved" %}
                                                <span class="timeline-icon timeline-icon-green"><i class="fa-regular fa-id-card fa-sm fa-fw"></i></span>
                                            {% else %}
                                                <span class="timeline-icon timeline-icon-blue"> <i class="fa-solid fa-check fa-sm fa-fw"></i></span>
                                            {% endif %}
                                        <h6>{{ qs_i.status }} </h6>
                                        <p class="text-muted mb-2">{{ qs_i.action_date_x }}&nbsp;&nbsp;&nbsp;&nbsp;({{ qs_i.action_days_to_now }} days)</p>
                                    </li>
                                {% endfor %}

                            </ul>
                         </section>
                         <!-- Section: Timeline -->
                     </div>
                      <div class="col-md-6" style="border-left: #eee 0.2px solid;">
                          <h5 class="mb-3"><i class="fa-solid fa-chart-pie text-primary"></i>&nbsp;&nbsp;<b>Cases in the range</b>(<span class="n_cases">#</span> Cases)</h5>
                          <h5 class="na_h5 d-none ms-5">{% if status.form != "" %}No data is available currently! {% else %} Form type is not available, please pick one at the top !{%  endif %}</h5>
                          <div id="donut_chart">
                                <canvas id="donut_case_percent_in_range" style="max-height: 400px;min-height: 300px;min-width: 300px;"></canvas>
                          </div>
                      </div>
                 </div>
                 <!-- End of Case history & Case range pie -->

                <hr style="height: 0.2px;color: #ccc;max-width: 1000px;">
                  <!-- Next step -->
                 <div class="row" style="max-width: 1000px;">
                     <div class="col-12">
                         <h5 class="mb-3"><i class="fa-solid fa-circle-arrow-right text-primary"></i>&nbsp;<strong>Next step</strong></h5>
                        <div class="mb-3">Based on
                             <select id="status_level" name="status_level" onchange="get_nextstatus()">
                                 <option value="L3" selected>L3</option>
                                 <option value="L2">L2</option>
                                 <option value="L1">L1</option>
                                 <option value="L0">Original</option>
                             </select>
                            status changs in the:
                             <select id="date_range" name="date_range" onchange="get_nextstatus()">
                                 <option value="past3m" selected>Past 3 month</option>
                                 <option value="past6m">Past 6 month</option>
                                 <option value="past9m">Past 9 month</option>
                                 <option value="past12m">Past 12 month</option>
                             </select>
                            <span>(Same case type/Same form type)</span>
                        </div>
                         {# <h5 id="nextbar_na_h5" class="d-none ms-5">{% if status.form != "" %}No data is available currently! {% else %} Form type is not available, please pick one at the top !{%  endif %}</h5>#}
                        <div id="bar_chart">
                            <div class="d-none" id="nextstatus_loading">
                                <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                            </div>
                            <div id="bar_container" style="position: relative; height:20px;">
                                <canvas id="bar_next_status"></canvas>
                            </div>
                            <h5 id="daystofinal_h">Based on the data, it will take <span id="daystofinal"></span> days from your current status action date to FINAL action.</h5>
                        </div>
                     </div>
                 </div>
                 <!-- End of next step -->

                 <hr style="height: 0.2px;color: #ccc;max-width: 1000px;">
                  <!-- my position -->
                 <div class="row"  style="max-width: 1000px;">
                     <div class="col-12">
                         <h5 class="mb-3"><i class="fa-solid fa-location-dot text-primary"></i>&nbsp;&nbsp;<strong>My position</strong></h5>
                         <div id="myposition_wrapper">
                         <div class="mb-3">Based on cases in the range:
                             <select id="case_range" name="case_range" onchange="get_data()">
                                 <option value="rn_range" selected>ReceiptNumber: {{ case_range }}</option>
                                 <option value="rn_n200">You ReceiptNumber - 200</option>
                                 <option value="rn_n500">You ReceiptNumber - 500</option>
                                 <option value="rn_n1000">You ReceiptNumber - 1000</option>
                                 <option value="rn_p200">You ReceiptNumber + 200</option>
                                 <option value="rn_p500">You ReceiptNumber + 500</option>
                                 <option value="rn_p1000">You ReceiptNumber + 1000</option>
                                 <option value="rn_np200">You ReceiptNumber &plusmn; 200</option>
                                 <option value="rn_np500">You ReceiptNumber &plusmn; 500</option>
                                 <option value="rn_np1000">You ReceiptNumber &plusmn; 1000</option>
                                 <option value="rd_n1m">Your RD and Your RD - 1 month</option>
                                 <option value="rd_n2m">Your RD and Your RD - 2 month</option>
                                 <option value="rd_n3m">Your RD and Your RD - 3 month</option>
                                 <option value="rd_p1m">Your RD and Your RD + 1 month</option>
                                 <option value="rd_p2m">Your RD and Your RD + 2 month</option>
                                 <option value="rd_p3m">Your RD and Your RD + 3 month</option>
                                 <option value="rd_np1m">Your case RD &plusmn; 1 month</option>
                                 <option value="rd_np2m">Your case RD &plusmn; 2 month</option>
                                 <option value="rd_np3m">Your case RD &plusmn; 3 month</option>
                            {#   <option value="rn_fy">All cases received in YOUR Fiscal Year</option>#}
                             </select>
                            <span>(Same case type/Same form type)</span>
                         </div>
                         <h6><b><i class="fa-solid fa-diamond"></i> Cases in order of Receipt Number</b>(<span class="n_cases">#</span> Cases)</h6>
                             <h5 class="na_h5 d-none ms-5">{% if status.form != "" %}No data is available currently! {% else %} Form type is not available, please pick one at the top !{%  endif %}</h5>

                         <div class="card" id="myposition_RN_order">
                              <div class="card-body p-0 ps-3">
                                  <param id="statu_sequence" value="AAAAAAAAAAAAORRFFFFEFFFFFFFFFRRFFF" />
                                  <param id="recepit_num" value="{{ receipt_num }}" />
                                  <param id="form_type" value="{{ status.form }}" />
                                  <param id="mycase_status" value="{{ status.status }}" />
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div id="controlpanel" class="col-md-4" style="width:100%;">
                                              <div style="font:12px Verdana;font-weight:bold;">Show cases: </div>
                                              <div style="font:14px Verdana;">
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="REC_box" value="REC" />
                                                      <label class="form-check-label" for="REC_box">Received</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="FP_box" value="FP" />
                                                      <label class="form-check-label" for="FP_box">Figureprinted</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="ITV_box" value="ITV" />
                                                      <label class="form-check-label" for="ITV_box">Interviewed</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="RFE_box" value="RFE" />
                                                      <label class="form-check-label" for="RFE_box">RFE</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="TRF_box" value="TRF" />
                                                      <label class="form-check-label" for="TRF_box">Transferred</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="APV_box" value="APV" />
                                                      <label class="form-check-label" for="APV_box">Approved</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="RJC_box" value="RJC" />
                                                      <label class="form-check-label" for="RJC_box">Rejected</label>
                                                  </div>
                                                  <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="OTH_box" value="OTH" />
                                                      <label class="form-check-label" for="OTH_box">Other</label>
                                                  </div>
                                                   <div class="form-check form-check-inline">
                                                      <input class="form-check-input" type="checkbox" name="status_type_lollipop" id="ME_box" value="ME" checked />
                                                      <label class="form-check-label" for="ME_box">Me</label>
                                                  </div>
                                              </div>
                                              <div style="">
                                                <div id="lollipop_legend"></div>
                                              </div>
                                        </div>
                                        <!-- control pannel -->
                                      </div>
                                      <!-- col-md-4 -->
                                  </div>
                                  <div class="row" style="max-width:1000px;">
                                      <div class="col-md-12" >
                                          <div id="case_in_receipt_order"  style="height:125px;"></div>
                                      </div>
                                  </div>
                              </div>
                         </div>
                             <hr style="height: 0.2px;color: #999999;max-width: 1000px;">
                         <h6><b><i class="fa-solid fa-diamond"></i> Case grouped by status and ordered in the group</b>(<span class="n_cases">#</span> Cases)</h6>
                             <h5 class="na_h5 d-none ms-5">{% if status.form != "" %}No data is available currently! {% else %} Form type is not available, please pick one at the top !{%  endif %}</h5>
                         <div class="card mb-3" id="myposition_status_order">
                              <div class="card-body p-0 ps-3">
                                  <div class="progress" style="height: 20px;">
                                    <div class="progress-bar REC_bg" role="progressbar" id="rec_bar"></div>
                                    <div class="progress-bar FP_bg" role="progressbar" id="fp_bar"></div>
                                    <div class="progress-bar ITV_bg" role="progressbar" id="itv_bar"></div>
                                    <div class="progress-bar RFE_bg" role="progressbar" id="rfe_bar"></div>
                                    <div class="progress-bar TRF_bg" role="progressbar" id="trf_bar"></div>
                                    <div class="progress-bar APV_bg" role="progressbar" id="apv_bar"></div>
                                    <div class="progress-bar RJC_bg" role="progressbar" id="rjc_bar"></div>
                                    <div class="progress-bar OTH_bg" role="progressbar" id="oth_bar"></div>
                                  </div>
                                  <div class="progress bg-light"style="height: 20px;">
                                    <div class="progress-bar bg-light" role="progressbar" id="mypos_pointer" ></div>
                                      <div><i class="fa-solid fa-up-long"></i>&nbsp;<span id="mypos_text">YOU</span></div>
                                  </div>
                              </div>
                         </div>

{#                             <h6><b><i class="fa-solid fa-diamond"></i> Case counts in status categories</b>(<span class="n_cases">#</span> Cases)</h6>#}
{#                             <h5 class="na_h5 d-none ms-5">{% if status.form != "" %}No data is available currently! {% else %} Form type is not available, please pick one at the top !{%  endif %}</h5>#}
{#                           <div class="row" id="status_count_list">#}
{#                              <div class="col-4">#}
{#                                <div class="list-group list-group-light " id="list-tab" role="tablist">#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center active" id="list-rec-list" data-mdb-toggle="list" href="#list-rec" role="tab" aria-controls="list-rec">Received<span class="badge rounded-pill REC_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-fp-list" data-mdb-toggle="list" href="#list-fp" role="tab" aria-controls="list-fp">FP_Taken<span class="badge rounded-pill FP_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-itv-list" data-mdb-toggle="list" href="#list-itv" role="tab" aria-controls="list-itv">Interviewws<span class="badge rounded-pill ITV_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-rfe-list" data-mdb-toggle="list" href="#list-rfe" role="tab" aria-controls="list-rfe">RFE<span class="badge rounded-pill RFE_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-trf-list" data-mdb-toggle="list" href="#list-trf" role="tab" aria-controls="list-rfe">Transferred<span class="badge rounded-pill TRF_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-apv-list" data-mdb-toggle="list" href="#list-apv" role="tab" aria-controls="list-apv">Approved<span class="badge rounded-pill APV_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-rjc-list" data-mdb-toggle="list" href="#list-rjc" role="tab" aria-controls="list-rfe">Rejected<span class="badge rounded-pill RJC_bg">0</span></a>#}
{#                                  <a class="list-group-item px-3 py-1 d-flex justify-content-between align-items-center" id="list-oth-list" data-mdb-toggle="list" href="#list-oth" role="tab" aria-controls="list-rfe">Others<span class="badge rounded-pill OTH_bg">0</span></a>#}
{#                                </div>#}
{#                              </div>#}
{#                              <div class="col-8">#}
{#                                <div class="tab-content" id="nav-tabContent">#}
{#                                  <div class="tab-pane fade show active" id="list-rec" role="tabpanel" aria-labelledby="list-rec-list">#}
{#                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore impedit quibusdam exercitationem eligendi voluptate doloribus non pariatur#}
{#                                      libero quod nobis mollitia odio dolore eos debitis iure, autem quisquam ullam beatae.#}
{#                                  </div>#}
{#                                  <div class="tab-pane fade" id="list-fp" role="tabpanel" aria-labelledby="list-fp-list">#}
{#                                    Ea eos asperiores deserunt reprehenderit voluptatem deleniti dolor iure eum consectetur commodi.#}
{#                                  </div>#}
{#                                  <div class="tab-pane fade" id="list-itv" role="tabpanel" aria-labelledby="list-itv-list">#}
{#                                    Et perspiciatis facilis labore natus at necessitatibus. Sequi earum qui illum reiciendis? Excepturi, dicta consequuntur,#}
{#                                    voluptas aspernatur, quis laboriosam exercitationem quasi officia tempore iste assumenda aliquam.#}
{#                                  </div>#}
{#                                  <div class="tab-pane fade" id="list-rfe" role="tabpanel" aria-labelledby="list-rfe-list">#}
{#                                    Praesentium asperiores nemo ratione quas atque excepturi odio aliquid libero, architecto aspernatur expedita, corrupti, rem#}
{#                                    odit quos exercitationem maxime at. Ex, eveniet rerum laborum  accusamus delectus magnam maxime!#}
{#                                  </div>#}
{#                                    <div class="tab-pane fade" id="list-trf" role="tabpanel" aria-labelledby="list-trf-list">#}
{#                                     Ex, eveniet rerum laborum  accusamus delectus magnam maxime!#}
{#                                  </div>#}
{#                                     <div class="tab-pane fade" id="list-apv" role="tabpanel" aria-labelledby="list-apv-list">#}
{#                                    Praesentium asperiores nemo ratione quas atque excepturi odio aliquid libero, architecto aspernatur expedita, corrupti, rem#}
{#                                    odit quos exercitationem maxime at. Ex, eveniet rerum laborum  accusamus delectus magnam maxime!#}
{#                                  </div>#}
{#                                     <div class="tab-pane fade" id="list-rjc" role="tabpanel" aria-labelledby="list-rjc-list">#}
{#                                    Praesentium asperiores nemo ratione quas atque excepturi odio aliquid libero, architecto aspernatur expedita, corrupti, rem#}
{#                                    odit quos exercitationem maxime at. Ex, eveniet rerum laborum  accusamus delectus magnam maxime!#}
{#                                  </div>#}
{#                                    <div class="tab-pane fade" id="list-oth" role="tabpanel" aria-labelledby="list-oth-list">#}
{#                                    Praesentium asperiores nemo ratione quas atque excepturi odio aliquid libero, architecto aspernatur expedita, corrupti, rem#}
{#                                    odit quos exercitationem maxime at. Ex, eveniet rerum laborum  accusamus delectus magnam maxime!#}
{#                                  </div>#}
{#                                </div>#}
{#                              </div>#}
{#                            </div>#}
{#                             <hr style="height: 0.2px;color: #999999;max-width: 1000px;">#}

                         </div> <!-- End of my position wrapper-->
                     </div>
                 </div>
                 <!-- End of my position -->

                 <hr style="height: 0.2px;color: #ccc;max-width: 1000px;">
                  <!-- Recent changes -->
                 <div class="row" style="max-width: 1000px;">
                     <div class="col-12">
                         <h5 class="mb-3"><i class="fa-solid fa-flag text-primary"></i>&nbsp;&nbsp;<strong>Recent changes in the selected range</strong></h5>
                         <h5 class="na_h5 d-none ms-5">{% if status.form != "" %}No data is available currently! {% else %} Form type is not available, please pick one at the top !{%  endif %}</h5>
                         <div class="row" id="recent_changes">
                            <div class="col-4">
                                <h6>Updates in last 1 Day</h6>
                                <ul class="list-group list-group-light" id="list-1d" role="tablist" style="background-color: #eeeeee;">
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="fp_1d">FP_Taken<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="itv_1d">Interviewed<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="rfe_1d">RFE<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="trf_1d">Transferred<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="apv_1d">Approved<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="rjc_1d">Terminated<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="oth_1d">Others<span>0</span></li>
                                </ul>
                            </div>
                              <div class="col-4">
                                  <h6>Updates in last 1 Week</h6>
                                <ul class="list-group list-group-light " id="list-1w" role="tablist">
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="fp_1w">FP_Taken<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="itv_1w">Interviewed<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="rfe_1w">RFE<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="trf_1w">Transferred<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="apv_1w">Approved<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="rjc_1w">Terminated<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="oth_1w">Others<span>0</span></li>
                                </ul>
                            </div>
                              <div class="col-4">
                                  <h6>Updates in last 2 Weeks</h6>
                                <ul class="list-group list-group-light " id="list-2w" role="tablist">
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="fp_2w">FP_Taken<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="itv_2w">Interviewed<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="rfe_2w">RFE<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="trf_2w">Transferred<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="apv_2w">Approved<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="rjc_2w">Terminated<span>0</span></li>
                                  <li class="list-group-item list-group-item-info px-3 py-1 d-flex justify-content-between align-items-center" id="oth_2w">Others<span>0</span></li>
                                </ul>
                            </div>
                         </div>
                        <hr style="height: 1px;color: #666666">
                         <div class="row" id="recent_cases">
                            <div class="col-4">
                                <h6>Last 5 most recent <b>Approved</b> cases</h6>
                                <ul class="list-group list-group-light" id="list-recent-apv" role="tablist" style="background-color: #eeeeee;">

                                </ul>
                            </div>
                              <div class="col-4">
                                  <h6>Last 5 most recent <b>Transferred</b> cases</h6>
                                <ul class="list-group list-group-light " id="list-recent-trf" role="tablist">

                                </ul>
                            </div>
                              <div class="col-4">
                                  <h6>Last 5 most recent <b>RFE</b> cases</h6>
                                <ul class="list-group list-group-light " id="list-recent-rfe" role="tablist">

                                </ul>
                            </div>
                         </div>

                     </div>
                 </div>
                 <!-- End of Recent changes -->

            </div> <!--col-6-->
        </div><!--row-->
    </div>
{#    <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js" charset="utf-8"></script>#}
    <script type="text/javascript" src={% static "mycase/js/d3.v5.js" %} charset="utf-8"></script>
    <script type="text/javascript" src={% static "mycase/js/d3-tip.min.js" %} charset="utf-8"></script>
    <script type="text/javascript" src={% static "mycase/js/saveSVG.js" %}></script>
    <script type="text/javascript" src={% static "mycase/js/lollipop.js" %}></script>
    <script type="text/javascript">
    var backgroundColor = ['rgba(75, 192, 192, 0.5)','rgba(255, 99, 132, 0.5)','rgba(255, 159, 64, 0.5)', 'rgba(255, 205, 86, 0.5)',
        'rgba(54, 162, 235, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(201, 203, 207, 0.5)' ];
    var borderColor = ['rgb(75, 192, 192)','rgb(255, 99, 132)', 'rgb(255, 159, 64)','rgb(255, 205, 86)',
            'rgb(54, 162, 235)','rgb(153, 102, 255)','rgb(201, 203, 207)' ];

    function select_form() {
        get_data();
        get_nextstatus();
    }
    function get_data() {
            var selectform = $("#selectform").val();
            if(selectform==undefined){
                var form_type = $("#form_type").val();
                var selectform="no"
            }else{
                var form_type = selectform;
                var selectform="yes"
            }

            var recepit_num = $("#recepit_num").val();
            var range_val = $("#case_range").val();

            $("#case_in_receipt_order").empty();
            $("#lollipop_legend").empty();

            $.ajax({
              type: "GET",
              url: "ajax/caseinrange",
              async: true,
              data:{"recepit_num":recepit_num,"form_type":form_type,"case_range":range_val,"selectform":selectform},
              success : function(data) {
                  var n_case = data["n_cases"];
                  $(".n_cases").html(n_case);
                  if(n_case == -1){
                      alert(data["message"]);
                  } else if(n_case == 0){
                      $("#status_count_list").addClass("d-none");
                      $("#myposition_RN_order").addClass("d-none");
                      $("#myposition_status_order").addClass("d-none");
                      $("#donut_chart").addClass("d-none");
                      $("#recent_changes").addClass("d-none");
                      $("#recent_cases").addClass("d-none");
                      $(".na_h5").removeClass("d-none");
                      alert(data["message"]);
                  }else{
                      $(".na_h5").addClass("d-none");
                      $("#status_count_list").removeClass("d-none");
                      $("#myposition_RN_order").removeClass("d-none");
                      $("#myposition_status_order").removeClass("d-none");
                      $("#donut_chart").removeClass("d-none");
                      $("#recent_changes").removeClass("d-none");
                      $("#recent_cases").removeClass("d-none");

                      plot_donut(data["status_counts"]);
                      draw_lollipop(recepit_num,data["status_seq"],data["status_mut"],data["status_dom"]);

                      $("#rec_bar").css('width', data["status_counts"][0] /n_case *100 + "%");
                      $("#rec_bar").html(data["status_counts"][0]);

                      $("#fp_bar").css('width', data["status_counts"][1] /n_case *100 + "%");
                      $("#fp_bar").html(data["status_counts"][1]);

                      $("#itv_bar").css('width', data["status_counts"][2] /n_case *100 + "%");
                      $("#itv_bar").html(data["status_counts"][2]);

                      $("#rfe_bar").css('width', data["status_counts"][3] /n_case *100 + "%");
                      $("#rfe_bar").html(data["status_counts"][3]);

                      $("#trf_bar").css('width', data["status_counts"][4] /n_case *100 + "%");
                      $("#trf_bar").html(data["status_counts"][4]);

                      $("#apv_bar").css('width', data["status_counts"][5] /n_case *100 + "%");
                      $("#apv_bar").html(data["status_counts"][5]);

                      $("#rjc_bar").css('width' ,data["status_counts"][6] /n_case *100 + "%");
                      $("#rjc_bar").html(data["status_counts"][6]);

                      $("#oth_bar").css('width', data["status_counts"][7] /n_case *100 + "%");
                      $("#oth_bar").html(data["status_counts"][7]);

                      $("#mypos_pointer").css('width', data["mypos"] + "%");
                      $("#mypos_text").html(data["mypos_text"]);

                       $("#fp_1d>span").html(data["status_1d"]["FP_Taken"]);$("#fp_1w>span").html(data["status_1w"]["FP_Taken"]);$("#fp_2w>span").html(data["status_2w"]["FP_Taken"]);
                       $("#itv_1d>span").html(data["status_1d"]["Interviewed"]);$("#itv_1w>span").html(data["status_1w"]["Interviewed"]);$("#itv_2w>span").html(data["status_2w"]["Interviewed"]);
                       $("#rfe_1d>span").html(data["status_1d"]["RFE"]);$("#rfe_1w>span").html(data["status_1w"]["RFE"]);$("#rfe_2w>span").html(data["status_2w"]["RFE"]);
                       $("#trf_1d>span").html(data["status_1d"]["Transferred"]);$("#trf_1w>span").html(data["status_1w"]["Transferred"]);$("#trf_2w>span").html(data["status_2w"]["Transferred"]);
                       $("#apv_1d>span").html(data["status_1d"]["Approved"]);$("#apv_1w>span").html(data["status_1w"]["Approved"]);$("#apv_2w>span").html(data["status_2w"]["Approved"]);
                       $("#rjc_1d>span").html(data["status_1d"]["Rejected"]);$("#rjc_1w>span").html(data["status_1w"]["Rejected"]);$("#rjc_2w>span").html(data["status_2w"]["Rejected"]);
                       $("#oth_1d>span").html(data["status_1d"]["Other"]);$("#oth_1w>span").html(data["status_1w"]["OTH"]);$("#oth_2w>span").html(data["status_2w"]["Other"]);

                       var  html_str = "";
                       for(const case_i in data["recent_apv"]){
                           html_str += '<li class="list-group-item list-group-item-info px-3 py-1 d-flex align-items-center">'+case_i+', '+data["recent_apv"][case_i]+'</li>';
                       }
                       $("#list-recent-apv").html(html_str);

                       var  html_str = "";
                       for(const case_i in data["recent_trf"]){
                           html_str += '<li class="list-group-item list-group-item-info px-3 py-1 d-flex align-items-center">'+case_i+', '+data["recent_trf"][case_i]+'</li>';
                       }
                       $("#list-recent-trf").html(html_str);

                       var  html_str = "";
                       for(const case_i in data["recent_rfe"]){
                           html_str += '<li class="list-group-item list-group-item-info px-3 py-1 d-flex align-items-center">'+case_i+', '+data["recent_rfe"][case_i]+'</li>';
                       }
                       $("#list-recent-rfe").html(html_str);
                  }

                },
              error: function() {
                      alert('Error occurs!');
                }
            });
        }
        get_data();

        function get_nextstatus() {
            var selectform = $("#selectform").val();
            if(selectform==undefined){
                var form_type = $("#form_type").val();
                var selectform="no"
            }else{
                var form_type = selectform;
                var selectform="yes"
            }

            if(form_type==""){
                $("#bar_chart").empty();
                $("#bar_chart").html("<h5 class='ms-5'>Form type is not available, please pick one at the top !</h5>");
                return;
            }



            var status_level = $("#status_level").val();
            var date_range = $("#date_range").val();
            var mycase_status = $("#mycase_status").val();
            var recepit_num = $("#recepit_num").val();

            $("#nextstatus_loading").removeClass("d-none");
            $("#bar_next_status").addClass("d-none");
            $("#daystofinal_h").addClass("d-none");
            $("#bar_container").css("height","20px");

            $.ajax({
              type: "GET",
              url: "ajax/nextstatus",
              async: true,
              data:{"recepit_num":recepit_num,"daterange":date_range,"mystatus":mycase_status,"form_type":form_type,"status_level":status_level,"selectform":selectform},
              success : function(data) {
                  $("#nextstatus_loading").addClass("d-none");
                  $("#bar_next_status").removeClass("d-none");
                  $("#daystofinal_h").removeClass("d-none");

                  var next_status = data["next_status"];
                  var tofinal_status = data["to_endstatus"];
                  var formempty = data["formempty"];
                  if(formempty===undefined) {
                      if (next_status["Final"] === undefined) {
                          next_status_n = Object.keys(next_status).length;
                          if (next_status_n > 0) {
                              var label_ls = [], data_ls = [], bg_ls = [], bd_ls = [];
                              var col_i = 0;
                              for (const status_i in next_status) {
                                  case_n = next_status[status_i][0];
                                  day_avg = next_status[status_i][1];
                                  day_mid = next_status[status_i][2];
                                  day_min = next_status[status_i][3];
                                  day_max = next_status[status_i][4];
                                  data_ls.push(case_n);
                                  label_ls.push(status_i + " - Num: " + case_n + ", Avg: " + day_avg + ", Median: " + day_mid + ", Min: " + day_min + ", Max: " + day_max);
                                  bg_ls.push(backgroundColor[col_i % 7]);
                                  bd_ls.push(borderColor[col_i % 7]);
                                  col_i = col_i + 1;
                              }
                              {#alert(next_status_n);#}
                              if (next_status_n < 10) {
                                  $("#bar_container").css("height", (45 * next_status_n) + "px")
                              } else if (next_status_n < 30) {
                                  $("#bar_container").css("height", (35 * next_status_n) + "px")
                              } else {
                                  $("#bar_container").css("height", (25 * next_status_n) + "px")
                              }

                              plot_bar(label_ls, data_ls, bg_ls, bd_ls);

                              $("#daystofinal").html("<u>Avg: " + tofinal_status[0] + ",Midian: " + tofinal_status[1] + ",Min: " + tofinal_status[2] + ", Max: " + tofinal_status[3] + "</u>");
                          } else {
                              $("#bar_chart").empty();
                              $("#bar_chart").html("<h5 class='ms-5'>Data is not availabe !</h5>");
                          }
                      } else {
                          $("#bar_chart").empty();
                          $("#bar_chart").html("<h5 class='ms-5'>You are already in the FINAL status !</h5>");
                      }
                  }else{
                       $("#bar_chart").empty();
                       $("#bar_chart").html("<h5 class='ms-5'>Form type is not available, please pick one at the top !</h5>");
                  }
                },
              error: function() {
                    alert("Error occurs!")
                }
            });
        }
        get_nextstatus();

    ///////////////////////////////////////////////////////////////
        function plot_bar(label_ls,data_ls,bg_ls, bd_ls) {
            let chartStatus = Chart.getChart("bar_next_status"); // <canvas> id
               if (chartStatus != undefined) {
                  chartStatus.destroy();
               }
            const data = {
                labels: label_ls,
                datasets: [{
                    axis: 'y',
                    label: "Next status",
                    data: data_ls,
                    fill: false,
                    backgroundColor: bg_ls,
                    borderColor: bd_ls,
                    borderWidth: 1
                }]
            };

             const config = {
              type: 'bar',
              data: data,
              options: {
                indexAxis: 'y',
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend:{display: false,},
                    title: { display: true,text: 'The next status and taking days based on the data in the selected case range',fontSize:18}
                },
                scales: { y: { ticks: { mirror: true,}}}
              },
            };
            var barChart = new Chart($('#bar_next_status'), config)

        }

        function plot_donut(status_count=[100,100,100,100,100,100,100,100]) {
              let chartStatus = Chart.getChart("donut_case_percent_in_range"); // <canvas> id
               if (chartStatus != undefined) {
                  chartStatus.destroy();
               }
              var labels=["REC","FPR","ITV","RFE","TRF","APV","RJC","OTH"];

              var data = {
                  labels: labels,
                  datasets: [{
                    label: 'Cases statu count in the range',
                    data: status_count,
                    backgroundColor: ["#4e97f6","#11a9fa","#2b04da","#f4b824","#c77cff","#1db063","#ff001a","#78787a"],
                    hoverOffset: 4
                  }]
                };

              var config = {
                  type: 'doughnut',
                  data: data,
                  options: {
                      cutout: "50%",
                      radius:"90%",
                  },
                  animation:{
                      animateScale:true
                  },
              };
              var donutChart = new Chart($('#donut_case_percent_in_range'), config)
        }
    </script>
 {% endblock %}