{% extends "mycase_basic.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
         <div class="row justify-content-center">
             <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
                <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
             </div>
             <div class="col-md-6" style="min-width: 1200px;">
                 <form action="/mycase" method="get">
                    <div class="input-group" style="max-width: 960px;">
                      <div class="form-outline flex-fill">
                        <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                        <label class="form-label" for="form1">Enter your receipt number</label>
                      </div>
                      <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                        <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                      </button>
                    </div>
                 </form>
                 <br>
                  <!-- Next step -->
                 <div class="row">
                     <div class="col-12">
                         <h2 class="mb-4" style="color:#2d48cb;">Next step of the cases </h2>
                         <div class="mb-3">
                             <h5 class="d-inline">Centers: </h5>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "LIN_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_LB</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "LIN_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_SC</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "MSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_LB</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "MSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_SC</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "SRC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_LB</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "SRC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_SC</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "EAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_LB</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "EAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_SC</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "WAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_LB</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "WAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_SC</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "YSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_LB</button>
                             <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "YSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_SC</button>
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-12">
                          <h5 class="me-1 d-inline">Form type: </h5>
                          <select class="select-input" id="selectform">
                             {% for form_i in form_ls %}
                             <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                             {% endfor %}
                          </select>
                         <h5 class="ms-5 me-1 d-inline">Based on case action dates in: </h5>
                         <select class="select-input" id="daterange" name="daterange">
                             <option value="past3m" {% if daterange == "past3m" %}selected{% endif %}>Past 3 months&nbsp;&nbsp;</option>
                             <option value="past6m" {% if daterange == "past6m" %}selected{% endif %}>Past 6 months&nbsp;&nbsp;</option>
                             <option value="past9m" {% if daterange == "past9m" %}selected{% endif %}>Past 9 months&nbsp;&nbsp;</option>
                             <option value="past12m" {% if daterange == "past12m" %}selected{% endif %}>Past 12 months</option>
                             <option value="thisfy" {% if daterange == "thisfy" %}selected{% endif %}>This fiscal year</option>
                         </select>
                         <h5 class="ms-5 mt-3 d-inline">Show status in level:</h5>
                         <select class="select-input" id="statuslevel" name="statuslevel" onchange="load_status()">
                             <option value="L3NS" {% if statuslevel == "L3NS" %}selected{% endif %}>L3&nbsp;&nbsp;</option>
                             <option value="L2NS" {% if statuslevel == "L2NS" %}selected{% endif %}>L2&nbsp;&nbsp;</option>
                             <option value="L1NS" {% if statuslevel == "L1NS" %}selected{% endif %}>L1&nbsp;&nbsp;</option>
                             <option value="L0NS" {% if statuslevel == "L0NS" %}selected{% endif %}>Original&nbsp;&nbsp;</option>
                         </select>
                     </div>
                 </div>
                 <div class="row mt-2">
                     <div class="col-12">
                        <h5 class="ms-0 d-inline">Current status:</h5>
                         <select class="me-5" id="cursta" name="cursta"> </select>
                         <button type="button" class="btn btn-sm btn-secondary" onclick="load_page()">Submit and Check</button>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-12">
                         <hr style="height: 1px;color: #666666">
                         <div id="bar_chart">
                            <div id="nextstatus_loading">
                                <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                            </div>
                            <div class="d-none" id="bar_container" style="position: relative; height:20px;">
                                <canvas id="bar_next_status"></canvas>
                            </div>
                            <h5 class="d-none" id="daystofinal_h">Based on the data, it will take <span id="daystofinal"></span> days from your current status action date to FINAL action.</h5>
                        </div>
                     </div>
                 </div>
                 <!-- End of next step -->

            </div> <!--col-6-->
        </div><!--row-->
        <!-- Modal -->
        <div class="modal fade" id="dayDistribution" tabindex="-1" aria-labelledby="dayDistributionLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl" style="min-width: 1000px;">
            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><strong>Days distribution:</strong> <span id="modal_title_nextstatus"></span></h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="hist_div">
                  <div class="row" style="width: 100%;min-width: 1000px;">
                    <div class="col-md-10" id="hist_chart" style="height: 450px; width:850px;"></div>
                    <div class="col-md-2" id="box_chart" style="height: 450px; width: 150px;"></div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>


    <script type="text/javascript">
    var backgroundColor = ['rgba(75, 192, 192, 0.5)','rgba(255, 99, 132, 0.5)','rgba(255, 159, 64, 0.5)', 'rgba(255, 205, 86, 0.5)',
        'rgba(54, 162, 235, 0.5)', 'rgba(153, 102, 255, 0.5)', 'rgba(201, 203, 207, 0.5)' ];
    var borderColor = ['rgb(75, 192, 192)','rgb(255, 99, 132)', 'rgb(255, 159, 64)','rgb(255, 205, 86)',
            'rgb(54, 162, 235)','rgb(153, 102, 255)','rgb(201, 203, 207)' ];
    const arrSum = arr => arr.reduce((a,b) => a + b, 0)
    const arrMax = arr => Math.max(...arr);
    const arrMin = arr => Math.min(...arr);
    const arrMid = arr => {
        const mid = Math.floor(arr.length / 2),
        nums = [...arr].sort((a, b) => a - b);
        return arr.length % 2 !== 0 ? nums[mid] : (nums[mid - 1] + nums[mid]) / 2;
    };
    var status_lvl_ls ={{ status_lvl_ls | safe }};
    var cursta_x ="{{ cursta | safe }}";
    var data = {{ data | safe }};
    $(".ctr_btn").click(function () {
        $(".ctr_btn").removeClass("btn-primary");
        $(".ctr_btn").addClass("btn-outline-primary");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");
    });

    function load_page(){
        var center = "LIN_LB";
        $('.ctr_btn').each(function(){
            if($(this).hasClass("btn-primary")){
                center = $(this).text();
                return false;
            }
        });
        var selectform = $("#selectform").val();
        var daterange = $("#daterange").val();
        var statuslevel = $("#statuslevel").val();
        var cursta = $("#cursta").val();
        location.href = '{% url "mycase:nextstatus" %}?center='+center+'&selectform='+selectform+'&statuslevel='+statuslevel+'&daterange='+daterange+'&cursta='+cursta;
    }
    
    function load_status() {
        var lvl = $("#statuslevel").val().slice(0, 2)
        var status_ls = status_lvl_ls[lvl];
        var html_str = "";
        for(s_i of status_ls){
            if(cursta_x == s_i){
                html_str += "<option value='"+s_i+"' selected >"+s_i+"</option>";
            }else{
                html_str += "<option value='"+s_i+"' >"+s_i+"</option>";
            }
          $("#cursta").empty();
          $("#cursta").html(html_str);
        }
    }
    load_status();

    function get_nextstatus() {
        $("#nextstatus_loading").addClass("d-none");
        $("#bar_container").removeClass("d-none");
        $("#daystofinal_h").removeClass("d-none");

        var next_status = data["next_status"];
        var tofinal_status = data["to_endstatus"];
        var formempty = data["formempty"];
        if(formempty===undefined) {
              if (next_status["Final"] === undefined) {
                  next_status_n = Object.keys(next_status).length;
                  if (next_status_n > 0) {
                      var label_ls = [], data_ls = [], bg_ls = [], bd_ls = [];
                      var col_i = 0;
                      for (const status_i in next_status) {
                          case_n = next_status[status_i].length;
                          day_avg = arrSum(next_status[status_i])/case_n;
                          day_mid = arrMid(next_status[status_i]);
                          day_min = arrMin(next_status[status_i]);
                          day_max =  arrMax(next_status[status_i]);
                          data_ls.push(case_n);
                          label_ls.push(status_i + " - Case count: " + case_n + ", Avg: " + Math.round(day_avg) + ", Median: " + day_mid + ", Min: " + day_min + ", Max: " + day_max);
                          bg_ls.push(backgroundColor[col_i % 7]);
                          bd_ls.push(borderColor[col_i % 7]);
                          col_i = col_i + 1;
                      }
                      {#alert(next_status_n);#}
                      $("#bar_container").css("height", (45 * next_status_n + 70) + "px")
                      plot_bar(label_ls, data_ls, bg_ls, bd_ls);

                      $("#daystofinal").html("<u>Avg: " + Math.round(arrSum(tofinal_status)/tofinal_status.length) + ", Midian: " + arrMid(tofinal_status) + ", Min: " + arrMin(tofinal_status) + ",  Max: " + arrMax(tofinal_status) + "</u>");

                  } else {
                      $("#bar_chart").empty();
                      $("#bar_chart").html("<h5 class='ms-5'>Data is not availabe !</h5>");
                  }
              } else {
                  $("#bar_chart").empty();
                  $("#bar_chart").html("<h5 class='ms-5'>This status is defined as a FINAL status !</h5>");
              }
        }else{
               $("#bar_chart").empty();
               $("#bar_chart").html("<h5 class='ms-5'>Form type is not available, please pick one at the top !</h5>");
        }
    }
    get_nextstatus();

///////////////////////////////////////////////////////////////
    function plot_bar(label_ls,data_ls,bg_ls, bd_ls) {
        let chartStatus = Chart.getChart("bar_next_status"); // <canvas> id
           if (chartStatus != undefined) {
              chartStatus.destroy();
           }
        const data = {
            labels: label_ls,
            datasets: [{
                axis: 'y',
                label: "Next status",
                data: data_ls,
                fill: false,
                backgroundColor: bg_ls,
                borderColor: bd_ls,
                borderWidth: 1
            }]
        };
        const config = {
          type: 'bar',
          data: data,
          options: {
            indexAxis: 'y',
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend:{display: false,},
                title: {
                    display: true,
                    text: 'The next status and taking days based on the data in the selected date range',
                    font: {size: 18}
                },
                subtitle: {
                    display: true,
                    text: '(Click on the bar to see the distributions of the days)',
                    font: {size: 16}
                }
            },
            scales: { y: { ticks: { mirror: true,}}},
            onClick: (event,chartElement) => {
                {#console.log(chartElement);#}
                if (chartElement.length) {
                    const elt = chartElement[0];
                    const label = barChart.data.labels[elt.index];
                    {#const slabel = barChart.data.datasets[elt.datasetIndex].label;#}
                    {#const value = barChart.data.datasets[elt.datasetIndex].data[elt.index];#}
                    {#console.log(label, slabel, value);#}
                    daysDistributeion(label);
                }

            },
            onHover: (evt,chartElement)=>{
                if (chartElement.length) evt.native.target.style.cursor = 'pointer';
                else evt.native.target.style.cursor = 'default';
            }

          },
        };
        var barChart = new Chart($('#bar_next_status'), config)
    }

    function daysDistributeion(label){
        var label = label.split("-")[0].trim();
        var days_ls = data["next_status"][label];

        var days_dict = {};
        for(let d_i of days_ls){
            if(d_i in days_dict) days_dict[d_i] += 1;
            else days_dict[d_i] = 1;
        }
        plot_hist(days_dict);
        plot_box(days_ls);

        $("#modal_title_nextstatus").empty();
        $("#modal_title_nextstatus").html(label);

        $("#dayDistribution").modal('show');
    }
    function plot_hist(days_dict) {
        var chartDom = document.getElementById('hist_chart');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          xAxis: {
              name: 'Days',
            type: 'category',
            data: Object.keys(days_dict)
          },
          yAxis: {
              name: 'Counts',
            type: 'value'
          },
          series: [
            {
              data: Object.values(days_dict),
              type: 'bar'
            }
          ]
        };

        option && myChart.setOption(option);
    }

    function plot_box(days_ls) {
        var chartDom = document.getElementById('box_chart');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          dataset: [
            {
              // prettier-ignore
              source: [days_ls,]
            },
            {
              transform: {
                type: 'boxplot',
                config: { itemNameFormatter: 'Days' }
              }
            },
            {
              fromDatasetIndex: 1,
              fromTransformResult: 1
            }
          ],
          grid: {
            left: '30px',
          },
          xAxis: {
            type: 'category',
          },
          yAxis: {
            type: 'value',
            name: 'Days',
          },
          series: [
            {
              name: 'boxplot',
              type: 'boxplot',
              datasetIndex: 1
            },
            {
              name: 'outlier',
              type: 'scatter',
              datasetIndex: 1
            }
          ]
        };

        option && myChart.setOption(option);

    }

    </script>

 {% endblock %}