{% extends "mycase_basic.html" %}
{% load static %}
{% block content %}

<div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
     <div class="row justify-content-center">
         <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
            <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
         </div>
         <div class="col-md-6" style="min-width: min-content;">
             <form action="/mycase" method="get">
                <div class="input-group" style="max-width: 960px;">
                  <div class="form-outline flex-fill">
                    <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                    <label class="form-label" for="form1">Enter you receipt number</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                  </button>
                </div>
              </form>
            <br>
             <!--Main content-->

             <div class="row">
                 <div class="col-12">
                     <h2 class="mb-4" style="color:#2d48cb;">Overview </h2>
                     <div class="mb-3">
                         <h5 class="d-inline">Fiscal year: </h5>
                         {% for y_i in year_ls %}
                             <button type="button" class="btn me-1 mb-1 fy_btn {% if fy == y_i %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ y_i }}</button>
                         {% endfor %}
                     </div>
                     <div class="mb-3">
                         <h5 class="d-inline">Centers: </h5>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "LIN_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "LIN_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "MSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "MSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "SRC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "SRC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "EAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "EAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "WAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "WAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "YSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 cnt_btn {% if center == "YSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_SC</button>

                     </div>
                    <hr style="height: 1px;color: #666666">

                     <div class="chart" id="char_div">
                         <div id="form_pie" style="height: 300px; width: 1200px;"></div>
                        <div id="form_bar" style="height: 600px; width: 1200px;"></div>
                     </div>
                 </div>
             </div>
            <hr style="height: 1px;color: #666666">

             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->
</div>
    <script src="{% static "mycase/js/script2.js" %}" charset="utf-8"></script>
   <script type="text/javascript">
       $(".cnt_btn").click(function () {
            $(".cnt_btn").removeClass("btn-primary");
            $(".cnt_btn").addClass("btn-outline-primary");
            $(this).removeClass("btn-outline-primary");
            $(this).addClass("btn-primary");
            load_page();
        });

       $(".fy_btn").click(function () {
            $(".fy_btn").removeClass("btn-primary");
            $(".fy_btn").addClass("btn-outline-primary");
            $(this).removeClass("btn-outline-primary");
            $(this).addClass("btn-primary");
            load_page();
        });

       function load_page(){
            var center = "LIN_LB";
            $('.cnt_btn').each(function(){
                if($(this).hasClass("btn-primary")){
                    center = $(this).text();
                    return false;
                }
            });
            var fy = 2022;
            $('.fy_btn').each(function(){
                if($(this).hasClass("btn-primary")){
                    fy = $(this).text();
                    return false;
                }
            });

            var selectform = $("#selectform").val();
            location.href = '{% url "mycase:overview" %}?center='+center+'&fy='+fy;
       }
       var form_status_count ={{ form_status_count|safe }};
       form_bar_plot(form_status_count);
   </script>

 {% endblock %}