{% extends "mycase_basic.html" %}
{% load static %}
{% load extras %}
{% block content %}
<link rel="stylesheet" href={% static "css/datepicker2.css" %}>
<link href="{% static "css/datatables.min.css" %}" media="all" rel="stylesheet" />
<div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
     <div class="row justify-content-center">
         <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
            <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
         </div>
         <div class="col-md-6" style="min-width: 1200px;">
             <form action="/mycase" method="get">
                <div class="input-group" style="max-width: 960px;">
                  <div class="form-outline flex-fill">
                    <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                    <label class="form-label" for="form1">Enter your receipt number</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                  </button>
                </div>
              </form>
            <br>
             <!--Main content-->
            <div class="row">
                 <div class="col-12">
                     <h2 class="mb-1" style="color:#2d48cb;">Query cases in a Received Date range </h2>
                     <div class="form-row">
                        <div class="input-group mb-3">
                             <span class="input-group-text border-0" style="font-size: 20px;">Select a start date: </span>
                             <input type="text" placeholder="Pick a date" aria-label="Pick a date" id="date_picker" class="form-control pickeddate" style="min-width:200px;max-width: 300px;">
                             <span class="input-group-text"><i class="fa-solid fa-calendar-day"></i></span>
                        </div>
                        <div class="p-2" style="max-width: 1000px;">
                            <h5 class="me-1 d-inline">Form type: </h5>
                            <select id="selectform">
                                 {% for form_i in form_ls %}
                                 <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                                 {% endfor %}
                            </select>
                            <h5 class="ms-5 me-1 d-inline">Date range size:</h5>
                            <select id="range_size" name="range_size" class="me-5">
                                 <option value="1" {% if rangesize == "1" %}selected{% endif %}>Next 1 month&nbsp;&nbsp;</option>
                                 <option value="2" {% if rangesize == "2" %}selected{% endif %}>Next 2 months&nbsp;&nbsp;</option>
                                 <option value="3" {% if rangesize == "3" %}selected{% endif %}>Next 3 months&nbsp;&nbsp;</option>
                                 <option value="6" {% if rangesize == "6" %}selected{% endif %}>Next 6 months&nbsp;&nbsp;</option>
                                 <option value="12" {% if rangesize == "12" %}selected{% endif %}>Next 12 months&nbsp;&nbsp;</option>
                             </select>
                            <button type="button" class="btn btn-sm btn-secondary" onclick="load_data()">Query</button>
                        </div>
                     </div>
                     <hr style="height: 1px;color: #666666">
                     <div class="chart">
                         <h4 class='ms-5 na-h4 d-none'>Data is not availabe !</h4>
                         <div class="d-none" id="table_loading">
                            <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                        </div>
                        <div id="table_container" style="position: relative; height:20px;">
                            <table class="table table-sm table-hover w-100" id="query_table">
                                <thead class="bg-light">
                                    <tr><th style="width: 15%;">Receipt numbers</th><th style="width: 10%;">Case type</th><th style="width: 45%;">Status (Click to show history.)</th><th style="width: 15%;">Received date</th><th style="width: 15%;">Action date</th></tr>
                                </thead>
                                <tbody id="query_tbody">

                                </tbody>
                            </table>

                        </div>
                     </div>
                 </div>
             </div>

             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->

<!-- Modal -->
    <div class="modal fade" id="caseHistModal" tabindex="-1" aria-labelledby="caseHistModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel">Case receipt number: <strong><span id="modal_title"></span></strong></h4>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalCaseHist">
              <table class="table table-sm table-hover" id="modalCaseHist_table">
                  <thead class="bg-light">
                    <tr>
                        <th style="width: 15%;">Form type</th><th style="width: 50%;">Case status </th><th style="width: 15%;">Received date</th><th style="width: 20%;">Action date</th>
                    </tr>
                  </thead>
                  <tbody id="modalCaseHist_tbody"></tbody>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


</div>
    <script src={% static "js/datepicker2.js"  %}></script>
    <script src="{% static "js/datatables.min.js" %}" charset="utf-8"></script>
<script type="text/javascript">

 $(function() {
        var $pickeddate = $('#date_picker');
        $pickeddate.datepicker({
            format: 'mm-dd-yyyy',
            autoHide: true,
            startDate: "09-25-2022",
        });
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String((today.getMonth() + 9)%12 + 1).padStart(2, '0'); //January is 0!
        var yyyy = mm > 9 ? today.getFullYear() - 1:today.getFullYear();

        today = mm + '-' + dd + '-' + yyyy;
        $pickeddate.val(today);
        $pickeddate.on('change', function () {
            var data_date= $pickeddate.val()
        });
});

var case_ls;
function load_data(){
    var received_date = $('#date_picker').val();
    var selectform = $("#selectform").val();
    var rangesize = $("#range_size").val();
    alert(received_date);
    const regexp = new RegExp(/^(0?[1-9]|1[012])[\/\-](0?[1-9]|[12][0-9]|3[01])[\/\-]\d{4}$/, 'i');
    if(!regexp.test(received_date)){
        alert("Received_date must be NOT EMPTY\nand has to be in format of MM-DD-YYYY.")
        return -1;
    }

    $("#table_loading").removeClass("d-none");
    $("#table_container").addClass("d-none");

    $.ajax({
          type: "GET",
          url: "/ajax/ajax_queryrd",
          async: true,
          data:{"received_date":received_date,"selectform":selectform,"rangesize":rangesize},
          success : function(data) {
              case_ls = data["data"];
              if(typeof case_ls === 'string' || case_ls instanceof String){
                  alert(case_ls);
                  return -1
              }
              else{
                var html_str="";
                for(case_i in case_ls){
                    if(case_ls[case_i].at(-1)[2]== "Approved"){
                        html_str += "<tr class='APV_bg' data-mdb-toggle='tooltip' title='Click to show case history.'>" ;
                    }else if(case_ls[case_i].at(-1)[2]== "RFE"){
                        html_str += "<tr class='RFE_bg' data-mdb-toggle='tooltip' title='Click to show case history.'>" ;
                    }else{
                         html_str += "<tr data-mdb-toggle='tooltip' title='Click to show case history.'>" ;
                    }
                    html_str += "<td>"+ case_i +"</td><td>"+ selectform +"</td>";
                    html_str += "<td>"+ case_ls[case_i].at(-1)[0] +"</td><td>"+ case_ls[case_i].at(-1)[1] +"</td>";
                    html_str += "</tr>" ;
                }
                if ($.fn.DataTable.isDataTable("#query_table")) {
                        $("#query_table").DataTable().clear().draw();
                        $("#query_table").dataTable().fnDestroy();
                        $('#query_tbody').empty();
                }
                $("#query_tbody").html(html_str);
                $('#query_table').DataTable({
                    order: [[0, 'asc']],
                    pageLength: 50,
                     "bAutoWidth": false, // Disable the auto width calculation
                    "aoColumns": [{ "sWidth": "15%" }, { "sWidth": "10%" }, { "sWidth": "45%" },{ "sWidth": "15%" },{ "sWidth": "15%" }
                    ],
                     "bDestroy": true
                });

              }
              $("#table_container").removeClass("d-none");
              $("#table_loading").addClass("d-none");
            },
          error: function() {
                alert("Error occurs!")
            }
    });
}
$("#query_table").on('click','tr',function(e){
    var selectform = $("#selectform").val();
    var rn = $(this).find("td:first").html();
    $('#modal_title').empty();
    $('#modal_title').html(rn);

    var html_str = ""
    for(let case_s_i of case_ls[rn]){
       html_str += "<tr><td>"+selectform+"</td><td>"+case_s_i[0]+"</td><td>"+case_s_i[1]+"</td></tr>"
    }
    $("#modalCaseHist_tbody").empty();
    $("#modalCaseHist_tbody").html(html_str);

    $("#caseHistModal").modal('show');
});
</script>
 {% endblock %}