{% extends "mycase_basic.html" %}
{% load static %}
{% load extras %}
{% block content %}

<link href="{% static "css/datatables.min.css" %}" media="all" rel="stylesheet" />
<div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
     <div class="row justify-content-center">
         <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
            <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
         </div>
         <div class="col-md-6" style="min-width: 1200px;">
             <form action="/mycase" method="get">
                <div class="input-group" style="max-width: 960px;">
                  <div class="form-outline flex-fill">
                    <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                    <label class="form-label" for="form1">Enter your receipt number</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                  </button>
                </div>
              </form>
            <br>
             <!--Main content-->
            <div class="row">
                 <div class="col-12">
                     <h2 class="mb-1" style="color:#2d48cb;">Query cases in a Receipt Number range </h2>
                     <div class="form-row">
                        <div class="align-items-center d-flex input-group p-2" style="max-width: 500px;">
                            <h5 class="d-inline me-1 ">Receipt number start: </h5>
                            <div class="form-outline flex-fill">
                                <input type="text" id="receipt_number_input" name="receipt_number" class="form-control" style="color: black;"  />
                                <label class="form-label" for="form1">Enter a receipt number</label>
                            </div>
                        </div>
                        <div class="p-2" style="max-width: 1000px;">
                            <h5 class="me-1 d-inline">Form type: </h5>
                            <select id="selectform">
                                 {% for form_i in form_ls %}
                                 <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                                 {% endfor %}
                            </select>
                            <h5 class="ms-5 me-1 d-inline">Range size:</h5>
                            <select id="range_size" name="range_size" class="me-5">
                                 <option value="200" {% if rangesize == "200" %}selected{% endif %}>200&nbsp;&nbsp;</option>
                                 <option value="500" {% if rangesize == "500" %}selected{% endif %}>500&nbsp;&nbsp;</option>
                                 <option value="1000" {% if rangesize == "1000" %}selected{% endif %}>1000&nbsp;&nbsp;</option>
                                 <option value="3000" {% if rangesize == "3000" %}selected{% endif %}>3000&nbsp;&nbsp;</option>
                             </select>
                            <button type="button" class="btn btn-sm btn-secondary" onclick="load_data()">Query</button>
                        </div>
                     </div>
                     <hr style="height: 1px;color: #666666">
                     <div class="chart">
                         <h4 class='ms-5 na-h4 d-none'>Data is not availabe !</h4>
                         <div class="d-none" id="table_loading">
                            <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                        </div>
                        <div id="table_container" style="position: relative; height:20px;">
                            <table class="table table-sm table-hover w-100" id="query_table">
                                <thead class="bg-light">
                                    <tr><th style="width: 20%;">Receipt numbers</th><th style="width: 15%;">Case type</th><th style="width: 50%;">Status (Click to show history.)</th><th style="width: 15%;">Action date</th></tr>
                                </thead>
                                <tbody id="query_tbody">

                                </tbody>
                            </table>

                        </div>
                     </div>
                 </div>
             </div>

             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->

<!-- Modal -->
    <div class="modal fade" id="caseHistModal" tabindex="-1" aria-labelledby="caseHistModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="ModalLabel">Case receipt number: <strong><span id="modal_title"></span></strong></h4>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalCaseHist">
              <table class="table table-sm table-hover" id="modalCaseHist_table">
                  <thead class="bg-light">
                    <tr>
                        <th style="width: 15%;">Form type</th><th style="width: 60%;">Case status </th><th style="width: 25%;">Action date</th>
                    </tr>
                  </thead>
                  <tbody id="modalCaseHist_tbody"></tbody>
              </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


</div>
    <script src="{% static "js/datatables.min.js" %}" charset="utf-8"></script>
<script type="text/javascript">
var case_ls;
function load_data(){
    var receipt_num = $("#receipt_number_input").val();
    var selectform = $("#selectform").val();
    var rangesize = $("#range_size").val();

    const regexp = new RegExp('^(LIN|SRC|MSC|WAC|EAC|YSC|IOE|MCT)', 'i');
    if(!regexp.test(receipt_num)){
        alert("Receipt number must be NOT EMPTY\nand has to start with 'LIN','SRC','MSC','WAC','EAC','YSC','IOE','MCT'.")
        return -1;
    }

    $("#table_loading").removeClass("d-none");
    $("#table_container").addClass("d-none");

    $.ajax({
          type: "GET",
          url: "/ajax/ajax_queryrn",
          async: true,
          data:{"receipt_num":receipt_num,"selectform":selectform,"rangesize":rangesize},
          success : function(data) {
              case_ls = data["data"];
              if(typeof case_ls === 'string' || case_ls instanceof String){
                  alert(case_ls);
                  return -1
              }
              else{
                var html_str="";
                for(case_i in case_ls){
                    if(case_ls[case_i].at(-1)[2]== "Approved"){
                        html_str += "<tr class='APV_bg' data-mdb-toggle='tooltip' title='Click to show case history.'>" ;
                    }else if(case_ls[case_i].at(-1)[2]== "RFE"){
                        html_str += "<tr class='RFE_bg' data-mdb-toggle='tooltip' title='Click to show case history.'>" ;
                    }else{
                         html_str += "<tr data-mdb-toggle='tooltip' title='Click to show case history.'>" ;
                    }
                    html_str += "<td>"+ case_i +"</td><td>"+ selectform +"</td>";
                    html_str += "<td>"+ case_ls[case_i].at(-1)[0] +"</td><td>"+ case_ls[case_i].at(-1)[1] +"</td>";
                    html_str += "</tr>" ;
                }
                if ($.fn.DataTable.isDataTable("#query_table")) {
                        $("#query_table").DataTable().clear().draw();
                        $("#query_table").dataTable().fnDestroy();
                        $('#query_tbody').empty();
                }
                $("#query_tbody").html(html_str);
                $('#query_table').DataTable({
                    order: [[0, 'asc']],
                    pageLength: 50,
                     "bAutoWidth": false, // Disable the auto width calculation
                    "aoColumns": [{ "sWidth": "15%" }, { "sWidth": "15%" }, { "sWidth": "50%" },{ "sWidth": "20%" }
                    ],
                     "bDestroy": true
                });

              }
              $("#table_container").removeClass("d-none");
              $("#table_loading").addClass("d-none");
            },
          error: function() {
                alert("Error occurs!")
            }
    });
}
$("#query_table").on('click','tr',function(e){
    var selectform = $("#selectform").val();
    var rn = $(this).find("td:first").html();
    $('#modal_title').empty();
    $('#modal_title').html(rn);

    var html_str = ""
    for(let case_s_i of case_ls[rn]){
       html_str += "<tr><td>"+selectform+"</td><td>"+case_s_i[0]+"</td><td>"+case_s_i[1]+"</td></tr>"
    }
    $("#modalCaseHist_tbody").empty();
    $("#modalCaseHist_tbody").html(html_str);

    $("#caseHistModal").modal('show');
});
</script>
 {% endblock %}