{% extends "mycase_basic.html" %}
{% load static %}
{% load extras %}
{% block content %}

<link href="{% static "css/datatables.min.css" %}" media="all" rel="stylesheet" >
<div class="container-fluid pt-3" style="width: 90%;min-width: 1200px;">
     <div class="row justify-content-center">
         <div class="col-md-1 text-center" style="margin-left: 10px;width: 150px;">
            <img class="img-fluid" id="logo-img" src={% static "mycase/img/mycase_logo_short.png" %} style="max-width:180px;max-height:45px;">
         </div>
         <div class="col-md-6" style="min-width: 1200px;">
             <form action="/mycase" method="get">
                <div class="input-group" style="max-width: 960px;">
                  <div class="form-outline flex-fill">
                    <input type="search" id="receipt_number" name="receipt_number" class="form-control form-control-lg" style="color: black;" value="{{ receipt_num }}" />
                    <label class="form-label" for="form1">Enter your receipt number</label>
                  </div>
                  <button type="submit" class="btn btn-primary" style="box-shadow: none;">
                    <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                  </button>
                </div>
              </form>
            <br>
             <!--Main content-->
            <div class="row">
                 <div class="col-12">
                     <h2 class="mb-4" style="color:#2d48cb;">Summary of Approved Case in Receipt Number ranges </h2>
                     <div class="mb-3">
                         <h5 class="d-inline">Fiscal year: </h5>
                         {% for y_i in year_ls %}
                             <button type="button" class="btn me-1 mb-1 fy_btn {% if fy == y_i %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ y_i }}</button>
                         {% endfor %}
                     </div>

                     <div class="mb-3">
                         <h5 class="d-inline">Centers: </h5>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "LIN_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_LB</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "LIN_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">LIN_SC</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "MSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "MSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">MSC_SC</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "SRC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_LB</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "SRC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">SRC_SC</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "EAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "EAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">EAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "WAC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_LB</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "WAC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">WAC_SC</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "YSC_LB" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_LB</button>
                         <button type="button" class="btn me-1 mb-1 ctr_btn {% if center == "YSC_SC" %}btn-primary{% else %}btn-outline-primary{% endif %}">YSC_SC</button>
                     </div>
                     <div>
                          <h5 class="me-1 d-inline">Form type: </h5>
                          <select id="selectform" onchange="load_page()">
                             {% for form_i in form_ls %}
                             <option value="{{ form_i }}" {% if form_i == selectform %}selected{% endif %}>{{ form_i }}</option>
                             {% endfor %}
                          </select>
                        <h5 class="ms-5 me-1 d-inline">Range size:</h5>
                        <select id="range_size" name="range_size" onchange="load_page()">
                             <option value="2000" {% if rangesize == "2000" %}selected{% endif %}>2000&nbsp;&nbsp;</option>
                             <option value="5000" {% if rangesize == "5000" %}selected{% endif %}>5000&nbsp;&nbsp;</option>
                             <option value="10000" {% if rangesize == "10000" %}selected{% endif %}>10000&nbsp;&nbsp;</option>
                         </select>
                     </div>
                     <hr style="height: 1px;color: #666666">
                     <div class="chart">
                         <h4 class='ms-5 na-h4 d-none'>Data is not availabe !</h4>
                         <div class="d-none" id="table_loading">
                            <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
                        </div>
                        <div id="table_container" style="position: relative; height:20px;">
                            <table class="table table-sm table-hover" id="summary_table">
                                <thead class="bg-light">
                                    <tr><th rowspan="2" class="border-end">Receipt number</th><th colspan="2" class="border-end"> Case counts</th><th colspan="5" class="border-end">Days used from RD to Approved</th><th colspan="3">Recently approved</th></tr>
                                    <tr><th>Total</th><th class="border-end">Approved</th><th>Max</th><th>Min</th><th>Avg</th><th>50%</th><th class="border-end">90%</th><th>7 Days</th><th>14 Days</th><th>28 Days</th></tr>
                                </thead>
                                <tbody>
                                {% for range_x,vals in data.items %}
                                    <tr>
                                        <td class="border-end">{{ range_x }}</td>
                                        <td>{{ vals|get_item:"total"}}</td><td class="border-end">{{ vals|get_item:"apv"}}</td>
                                        <td>{{ vals|get_item:"days"|get_item:"max"}}</td><td>{{ vals|get_item:"days"|get_item:"min"}}</td><td>{{ vals|get_item:"days"|get_item:"avg"}}</td><td>{{ vals|get_item:"days"|get_item:"med"}}</td><td class="border-end">{{ vals|get_item:"days"|get_item:"p90"}}</td>
                                        <td>{{ vals|get_item:"last7days"}}</td><td>{{ vals|get_item:"last14days"}}</td><td>{{ vals|get_item:"last28days"}}</td></tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                     </div>
                 </div>
             </div>

             <!--Main content end-->
        </div> <!--col-6-->
    </div><!--row-->
</div>
    <script src="{% static "js/datatables.min.js" %}" charset="utf-8"></script>
    <script type="text/javascript">
    $(".ctr_btn").click(function () {
        $(".ctr_btn").removeClass("btn-primary");
        $(".ctr_btn").addClass("btn-outline-primary");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");
        load_page();
    });

     $(".fy_btn").click(function () {
        $(".fy_btn").removeClass("btn-primary");
        $(".fy_btn").addClass("btn-outline-primary");
        $(this).removeClass("btn-outline-primary");
        $(this).addClass("btn-primary");
        load_page();
    });

    function load_page(){
        var center = "LIN_LB";
        var fy = "2022";
        $('.ctr_btn').each(function(){
            if($(this).hasClass("btn-primary")){
                center = $(this).text();
                return false;
            }
        });

         $('.fy_btn').each(function(){
            if($(this).hasClass("btn-primary")){
                fy = $(this).text();
                return false;
            }
        });
        $("#table_loading").removeClass("d-none");
        $("#table_container").css("height","400px");
        $(".na-h4").addClass("d-none");

        var selectform = $("#selectform").val();
        var rangesize = $("#range_size").val();
        location.href = '{% url "mycase:summaryrn" %}?center='+center+'&selectform='+selectform+'&fy='+fy+'&rangesize='+rangesize;
    }
    $(document).ready( function () {
        $('#summary_table').DataTable({
            order: [[0, 'asc']],
            pageLength: 15
          });
} );

</script>

 {% endblock %}