{% extends "ctrl_basic.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href={% static "css/datepicker.css" %}>
<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body dashboard-tabs p-0">
                <div class="form-control form-row p-3">
                    <div class="input-group" style="max-width: 500px;">
                        <h5 class="d-inline pe-3">Search a case: </h5>
                        <div class="form-outline flex-fill">
                            <input type="search" id="receipt_number_input" name="receipt_number" class="form-control" style="color: black;"  />
                            <label class="form-label" for="form1">Enter a receipt number</label>
                        </div>
                        <button type="button" class="btn btn-primary" style="box-shadow: none;" onclick="querycase()">
                            <i class="fas fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ps-5 pe-5 pt-3">
                        <form name="case_form" id="case_form">
                            <h5 class="pb-2">Case information</h5>
                            <div class="input-group mb-4 w-50">
                                <span class="input-group-text border-0" id="rn-addon">Receipt number: </span>
                                <input style="min-width: 220px;" class="form-control rounded" type="text" id="receipt_number_show" name="receipt_number_show" placeholder="Receipt number" aria-label="Receipt number" aria-describedby="rn-addon" readonly />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="input-group-text border-0" id="form_type-addon">Form type: </span>
                                <input class="form-control rounded" type="text" id="form_type" name="form_type_show" placeholder="Form type" aria-label="Form type" aria-describedby="form_type-addon" />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="input-group-text border-0" id="rd-addon">Receipt date: </span>
                                <input class="form-control rounded data-box" type="text" id="rd_date" name="rd_date_show" placeholder="Receipt date" aria-label="Form type" aria-describedby="rd-addon" />
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                            </div>

                            <div class="input-group mb-3">
                                <table class="table table-sm table-bordered table-hover" id="case_hist_table">
                                    <thead>
                                    <tr>
                                        <th>Action date</th><th>Status</th><th>stage</th><th>Action date X</th><th>Add date</th><th>Date number</th><th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody id="case_his_tbody">

                                    </tbody>
                                </table>
                            </div>

                        </form>
                    </div> <!--// col-12 -->
                </div> <!--// row -->
                <div class="d-flex pb-3 justify-content-center">
                    <button type="button" class="btn btn-success ms-3" id="update_btn" onclick="update()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src={% static "js/datepicker2.js"  %}></script>
    <script type="text/javascript">
        function querycase() {
            $("#case_his_tbody").empty();
            var rn = $("#receipt_number_input").val()
            const regexp = new RegExp('^(LIN|SRC|MSC|WAC|EAC|YSC|IOE|MCT)', 'i');
            if(!regexp.test(rn)){
                alert("Receipt number must be NOT EMPTY\nand has to start with 'LIN','SRC','MSC','WAC','EAC','YSC','IOE','MCT'.")
                return -1;
            }
            $.ajax({
              type: "GET",
              url: "checkcase_query",
              async: true,
              data:{'rn':rn,'csrfmiddlewaretoken': '{{ csrf_token }}'},
              success : function(data) {
                  var case_data = data["data"];
                  if(case_data.includes("Error")){
                      alert(case_data)
                  }else{
                      var html_str = "";
                      for(case_ri of case_data){
                          $("#receipt_number_show").val(case_ri['receipt_number']);
                          $("#form_type").val(case_ri['form']);
                          $("#rd_date").val(case_ri['rd_date']);
                          html_str += '<tr>' +
                              '<td><input class="input-box date-box-enfull" style="width: 160px;" name="action_date" value="'+case_ri['action_date']+'"></td>' +
                              '<td><input class="input-box" style="min-width: 350px;" name="status" value="'+case_ri['status']+'"></td>' +
                              '<td><input class="input-box" style="width: 100px;" name="case_stage" value="'+case_ri['case_stage']+'"></td>' +
                              '<td><input class="input-box date-box" style="width: 120px;" name="action_date_x" value="'+case_ri['action_date_x']+'"></td>' +
                              '<td><input class="input-box date-box" style="width: 180px;" name="add_date" value="'+case_ri['add_date']+'"></td>' +
                              '<td><input class="input-box" style="width: 60px;" name="date_number" value="'+case_ri['date_number']+'"></td>' +
                              '<td>' +
                              '<input class="me-2" type="button" onclick="insert_up(this)" value="Up +">' +
                              '<input class="me-2" type="button" onclick="insert_bl(this)" value="Below +">' +
                              '<input type="button" onclick="del_row(this)" value="Delete">' +
                              '</td>' +
                              '</tr>';
                          $("#case_his_tbody").html(html_str);
                      }
                  }
              },
              error: function() {
                    alert("Error occurs!")
              }
            });
        }

       function insert_up(obj){
            var tr = obj.closest("tr");
            var new_tr = document.createElement('tr');
            new_tr.innerHTML= '<td><input class="input-box date-box-enfull" style="width: 160px;" name="action_date"></td>' +
                '<td><input class="input-box" style="min-width: 350px;" name="status"></td>' +
                '<td><input class="input-box" style="width: 100px;" name="case_stage"></td>' +
                '<td><input class="input-box date-box" style="width: 120px;" name="action_date_x"></td>' +
                '<td><input class="input-box date-box" style="width: 180px;" name="add_date"></td>' +
                '<td><input class="input-box" style="width: 60px;" name="date_number"></td>' +
                '<td>' +
                    '<input class="me-2" type="button" onclick="insert_up(this)" value="Up + ">' +
                    '<input class="me-2" type="button" onclick="insert_bl(this)" value="Below + ">' +
                    '<input type="button" onclick="del_row(this)" value="Delete"> ' +
                '</td>'
            tr.parentNode.insertBefore(new_tr, tr);
       }

       function insert_bl(obj){
            var tr = obj.closest("tr");
            var new_tr = document.createElement('tr');
            new_tr.innerHTML= '<td><input class="input-box date-box-enfull" style="width: 160px;" name="action_date"></td>' +
                '<td><input class="input-box" style="min-width: 350px;" name="status"></td>' +
                '<td><input class="input-box" style="width: 100px;" name="case_stage"></td>' +
                '<td><input class="input-box date-box" style="width: 120px;" name="action_date_x"></td>' +
                '<td><input class="input-box date-box" style="width: 180px;" name="add_date"></td>' +
                '<td><input class="input-box" style="width: 60px;" name="date_number"></td>' +
                '<td>' +
                    '<input class="me-2" type="button" onclick="insert_up(this)" value="Up + ">' +
                    '<input class="me-2" type="button" onclick="insert_bl(this)" value="Below + ">' +
                    '<input type="button" onclick="del_row(this)" value="Delete"> ' +
                '</td>'
            tr.parentNode.insertBefore(new_tr, tr.nextSibling);
       }

       // this is the id of the submit button
        function update() {
            $.ajax({
                   type: "POST",
                   url: "checkcase_update",
                   data: $("#case_form").serialize(), // serializes the form's elements.
                   success: function(data)
                   {
                       alert(data["data"]); // show response from the php script.
                       querycase();
                   }
                 });

            return false; // avoid to execute the actual submit of the form.
        }

        function del_row(obj) {
            var tr = $(obj).closest('tr');

            var status=tr.find("td:eq(1) input").val();
            var action_date_x=tr.find("td:eq(4) input").val();
            var date_number=tr.find("td:eq(6) input").val();

            var rn = $("#receipt_number_input").val()
            var form =  $("#form_type").val();

            if(status=="" || action_date_x=="" ){
                tr.remove()
                return 0;
            }

            var answer = confirm("Are you sure to DELETE the record?");
            if (answer) {
                //some code
                $.ajax({
                       type: "POST",
                       url: "checkcase_del",
                       data: {'rn':rn,'action_date_x':action_date_x,'status':status,'form':form,'date_number':date_number,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                       success: function(data)
                       {
                           alert(data["data"]); // show response from the php script.
                           querycase();
                       }
                     });
            } else {
                //some code
            }

        }

    </script>

{% endblock %}
