.REC_bg{background-color: #1072f1;}
.FP_bg{background-color: #11a9fa;}
.ITV_bg{background-color: #2b04da;}
.RFE_bg{background-color: #f4b824;}
.TRF_bg{background-color: #c77cff}
.APV_bg{background-color: #1db063}
.RJC_bg{background-color: #ff001a}
.OTH_bg{background-color: #78787a}

.REC_color{color: #1072f1;}
.FP_color{color: #11a9fa;}
.ITV_color{color: #2b04da;}
.RFE_color{color: #f4b824;}
.TRF_color{color: #c77cff}
.APV_color{color: #1db063}
.RJC_color{color: #ff001a}
.OTH_color{color: #78787a}

.cnt_btn{padding-left: 10px;padding-right: 10px; vertical-align:middle;}
.fy_btn{padding-left: 10px;padding-right: 10px;vertical-align:middle;}

th{
  font-weight: bold;
}
.card-body{padding:0rem;}
